*{
  box-sizing: border-box;
  margin:0px;
  margin-top: 0px;
}
body {
    overflow: hidden;
    
    
    background-image: url("data:image/svg+xml;utf8,%3Csvg width=%22100%25%22 height=%22100%25%22 viewBox=%220 0 1000 600%22 version=%221.1%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 %3E %3Cstyle%3E .box_shadow { box-shadow: -5px -5px 20px -10px %23ffffff; } .shadow_right { -webkit-filter: drop-shadow(-5px -5px 15px %23ffffff); filter: drop-shadow(-5px -5px 15px %23ffffff); } .shadow_left{ -webkit-filter: drop-shadow(5px 5px 15px %23ffffff); filter: drop-shadow(5px 5px 15px %23ffffff); } %3C%2Fstyle%3E %3Cdefs%3E %3ClinearGradient id=%22gradient__0%22 x1=%220%22 y1=%220%22 x2=%220%22 y2=%221%22%3E %3Cstop stop-color=%22%23ffffff%22 offset=%220.0%25%22 %2F%3E %3Cstop stop-color=%22%23d0d0d0%22 offset=%2216.7%25%22 %2F%3E %3Cstop stop-color=%22%23f9f9f9%22 offset=%2233.3%25%22 %2F%3E %3Cstop stop-color=%22white%22 offset=%2250.0%25%22 %2F%3E %3Cstop stop-color=%22%23f9f9f9%22 offset=%2266.7%25%22 %2F%3E %3Cstop stop-color=%22%23d0d0d0%22 offset=%2283.3%25%22 %2F%3E %3Cstop stop-color=%22%23ffffff%22 offset=%22100.0%25%22 %2F%3E %3C%2FlinearGradient%3E %3Cfilter id=%22grain%22 x=%22-500%22 y=%22-300%22 width=%222000%22 height=%221200%22 filterUnits=%22userSpaceOnUse%22%3E%3E %3CfeFlood flood-color=%22%23ffffff%22 result=%22neutral-gray%22 %2F%3E %3CfeTurbulence in=%22neutral-gray%22 type=%22fractalNoise%22 baseFrequency=%222.5%22 numOctaves=%22100%22 stitchTiles=%22stitch%22 result=%22noise%22 %2F%3E %3CfeColorMatrix in=%22noise%22 type=%22saturate%22 values=%220%22 result=%22destaturatedNoise%22 %3E%3C%2FfeColorMatrix%3E %3CfeComponentTransfer in=%22desaturatedNoise%22 result=%22theNoise%22%3E %3CfeFuncA type=%22table%22 tableValues=%220 0 0.38 0%22%3E%3C%2FfeFuncA%3E %3C%2FfeComponentTransfer%3E %3CfeBlend in=%22SourceGraphic%22 in2=%22theNoise%22 mode=%22soft-light%22 result=%22noisy-image%22 %2F%3E %3C%2Ffilter%3E} %3C%2Fdefs%3E %3Cg filter=%22url(%23grain)%22%3E %3Crect width=%221000%22 height=%22600%22 fill=%22%23ffffff%22%2F%3E %3Crect class=%22%22 id=%22rect__11%22 x=%22478.2608695652174%22 y=%22143.47826086956522%22 width=%2243.47826086956522%22 height=%22313.04347826086956%22 fill=%22url(%23gradient__0)%22 %2F%3E %3Crect class=%22shadow_left%22 id=%22rect__12%22 x=%22521.7391304347826%22 y=%22130.43478260869566%22 width=%2243.47826086956522%22 height=%22339.1304347826087%22 fill=%22url(%23gradient__0)%22 %2F%3E %3Crect class=%22shadow_left%22 id=%22rect__13%22 x=%22565.2173913043479%22 y=%22117.3913043478261%22 width=%2243.47826086956522%22 height=%22365.2173913043478%22 fill=%22url(%23gradient__0)%22 %2F%3E %3Crect class=%22shadow_left%22 id=%22rect__14%22 x=%22608.695652173913%22 y=%22104.34782608695653%22 width=%2243.47826086956522%22 height=%22391.30434782608694%22 fill=%22url(%23gradient__0)%22 %2F%3E %3Crect class=%22shadow_left%22 id=%22rect__15%22 x=%22652.1739130434783%22 y=%2291.30434782608697%22 width=%2243.47826086956522%22 height=%22417.39130434782606%22 fill=%22url(%23gradient__0)%22 %2F%3E %3Crect class=%22shadow_left%22 id=%22rect__16%22 x=%22695.6521739130435%22 y=%2278.2608695652174%22 width=%2243.47826086956522%22 height=%22443.4782608695652%22 fill=%22url(%23gradient__0)%22 %2F%3E %3Crect class=%22shadow_left%22 id=%22rect__17%22 x=%22739.1304347826087%22 y=%2265.21739130434781%22 width=%2243.47826086956522%22 height=%22469.5652173913044%22 fill=%22url(%23gradient__0)%22 %2F%3E %3Crect class=%22shadow_left%22 id=%22rect__18%22 x=%22782.6086956521739%22 y=%2252.17391304347825%22 width=%2243.47826086956522%22 height=%22495.6521739130435%22 fill=%22url(%23gradient__0)%22 %2F%3E %3Crect class=%22shadow_left%22 id=%22rect__19%22 x=%22826.0869565217391%22 y=%2239.13043478260869%22 width=%2243.47826086956522%22 height=%22521.7391304347826%22 fill=%22url(%23gradient__0)%22 %2F%3E %3Crect class=%22shadow_left%22 id=%22rect__20%22 x=%22869.5652173913044%22 y=%2226.086956521739125%22 width=%2243.47826086956522%22 height=%22547.8260869565217%22 fill=%22url(%23gradient__0)%22 %2F%3E %3Crect class=%22shadow_left%22 id=%22rect__21%22 x=%22913.0434782608696%22 y=%2213.043478260869563%22 width=%2243.47826086956522%22 height=%22573.9130434782609%22 fill=%22url(%23gradient__0)%22 %2F%3E %3Crect class=%22shadow_left%22 id=%22rect__22%22 x=%22956.5217391304348%22 y=%220%22 width=%2243.47826086956522%22 height=%22600%22 fill=%22url(%23gradient__0)%22 %2F%3E %3Crect class=%22shadow_right%22 id=%22rect__10%22 x=%22434.7826086956522%22 y=%22130.43478260869566%22 width=%2243.47826086956522%22 height=%22339.1304347826087%22 fill=%22url(%23gradient__0)%22 %2F%3E %3Crect class=%22shadow_right%22 id=%22rect__9%22 x=%22391.30434782608694%22 y=%22117.3913043478261%22 width=%2243.47826086956522%22 height=%22365.2173913043478%22 fill=%22url(%23gradient__0)%22 %2F%3E %3Crect class=%22shadow_right%22 id=%22rect__8%22 x=%22347.82608695652175%22 y=%22104.34782608695652%22 width=%2243.47826086956522%22 height=%22391.304347826087%22 fill=%22url(%23gradient__0)%22 %2F%3E %3Crect class=%22shadow_right%22 id=%22rect__7%22 x=%22304.3478260869565%22 y=%2291.30434782608695%22 width=%2243.47826086956522%22 height=%22417.3913043478261%22 fill=%22url(%23gradient__0)%22 %2F%3E %3Crect class=%22shadow_right%22 id=%22rect__6%22 x=%22260.8695652173913%22 y=%2278.26086956521739%22 width=%2243.47826086956522%22 height=%22443.47826086956525%22 fill=%22url(%23gradient__0)%22 %2F%3E %3Crect class=%22shadow_right%22 id=%22rect__5%22 x=%22217.3913043478261%22 y=%2265.21739130434783%22 width=%2243.47826086956522%22 height=%22469.5652173913044%22 fill=%22url(%23gradient__0)%22 %2F%3E %3Crect class=%22shadow_right%22 id=%22rect__4%22 x=%22173.91304347826087%22 y=%2252.17391304347826%22 width=%2243.47826086956522%22 height=%22495.6521739130435%22 fill=%22url(%23gradient__0)%22 %2F%3E %3Crect class=%22shadow_right%22 id=%22rect__3%22 x=%22130.43478260869566%22 y=%2239.130434782608695%22 width=%2243.47826086956522%22 height=%22521.7391304347826%22 fill=%22url(%23gradient__0)%22 %2F%3E %3Crect class=%22shadow_right%22 id=%22rect__2%22 x=%2286.95652173913044%22 y=%2226.08695652173913%22 width=%2243.47826086956522%22 height=%22547.8260869565217%22 fill=%22url(%23gradient__0)%22 %2F%3E %3Crect class=%22shadow_right%22 id=%22rect__1%22 x=%2243.47826086956522%22 y=%2213.043478260869565%22 width=%2243.47826086956522%22 height=%22573.9130434782609%22 fill=%22url(%23gradient__0)%22 %2F%3E %3Crect class=%22shadow_right%22 id=%22rect__0%22 x=%220%22 y=%220%22 width=%2243.47826086956522%22 height=%22600%22 fill=%22url(%23gradient__0)%22 %2F%3E %3C%2Fg%3E %3C%2Fsvg%3E");
      
    background-size: cover;
  }

html, body{
    height: 100%;
  }

  .encabezado{
    display: flex;
    width: auto;
    height: 90px;
    background-color: #181818;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    
  }
  .info{
    position: relative;
    width: 10%px;
    height: 80%;
    margin-top: 0px;
    background-color: rgb(212, 212, 212);
    border-radius: 15px;
    display: flex; /* agregado */
    align-items: center; /* agregado */
    justify-content: center; /* agregado */
    transition: color 0.4s ease;
  }

  .info p{
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    transition: all 0.5s;
  }
  a{
    text-decoration: none;
    color:black;
  }

  .info:hover{
    background-color: rgb(53, 53, 53);
  }
  .title-text:hover{
    transform: scale(1.08);
  }

  .info:hover p {
    color: white;
    font-size: 33px;
  }
  
  .title {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: #181818;
    display: flex;
    align-items: start;
  }
  
  .title-text {
    font-size: 75px;
    font-weight: bold;
    text-align: start;
    color: #ffffff;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    flex-grow: 1;
    transition: all 0.5s;
  }
  
  .title-image {
    width: 100px;
    height: 100px;
    margin-right: 40px;
    transition: all 0.5s;
  }

  .title-image img{
    width: 100%;
    height: 100%;
    transition: transform 0.7s;
  }

  .title-image:hover img{
    transform: scale(1.2);
  }

  #main-container{
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  .division{
    display: flex;
    flex-direction: column;
    background-color: rgba(250, 235, 215, 0);
    width: 45%;
    height: 650px;
    margin: 10px;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    
  } 
  .contenido{
    position: absolute;

  }
  .info1{
    position: absolute;
    backdrop-filter: blur(10px);
    align-items: flex-end;
    transform: translateY(100%);
    transition: all 0.5s;
    }
  .division:active .info1{
    transform: translateY(0%);    
  }
  .contenido:active {
    filter:brightness(40%);
  }
.contenido,.info1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width:100%;
    height: 100%;
  }
  .contenido img{
    width: 100%;
    height: 100%;

    object-fit: cover;
    position: relative;
    transition: transform 1.5s ease-in-out;
    
  }
  .contenido h2{
    text-align: center;
    position: absolute;
    font-family: Calibri, sans-serif;
    font-weight: bold;
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    bottom: 0;
    width: 100%;
    padding: 15px;
    backdrop-filter: blur(10px);
    transition: all 0.5s;
  }
  .division :hover  img{
    transform: scale(1.2);
    filter: brightness(70%);
  }
  .division:hover h2{
    transform: translateY(-300px);
    font-size: 100px;
    color: aliceblue;
    border-radius: 20px;

  }
  .info1 p{
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    margin-left: 6%;
    margin-right: 6%;
    
  }
